body{
    background-color:#ffffff;
}
h1{
    color: white;
    text-align: center;
}
p{
    font-family: Verdana;
    font-size: 20px;
}
table,td{
    border: 5px solid black;
   
}
div{
    border-radius: 50%;
}